@define-mixin select-config {
  /* Border API */
  --selectBorder: var(--ne-select-border, 1px solid hsl(0, 0%, 89%));
  --selectHoverBorder: var(--ne-select-hover-border, 1px solid hsl(0, 0%, 89%));
  --selectFocusBorder: var(--ne-select-focus-border, 1px solid hsl(233, 64%, 62%));
  --selectDisabledBorder: var(--ne-select-disabled-border, 1px solid hsl(220, 10%, 95%));


  /* Background API */
  --selectBackground: var(--ne-select-background, #FFF);
  --selectHoverBackground: var(--ne-select-hover-background, var(--selectBackground));
  --selectFocusBackground: var(--ne-select-focus-background, var(--selectBackground));
  --selectDisabledBackground: var(--ne-select-disabled-background, var(--selectBackground));
  --selectOptionCheckedBackground: var(--ne-select-option-checked-background, hsl(233, 64%, 62%));

  /* Foreground API */
  --selectColor: var(--ne-select-color, hsl(0, 0%, 13%));
  --selectHoverColor: var(--ne-select-hover-color, var(--selectColor));
  --selectFocusColor: var(--ne-select-focus-color, var(--selectColor));
  --selectDisabledColor: var(--ne-select-disabled-color, hsl(220, 10%, 55%));
  --selectOptionCheckedColor: var(--ne-select-option-checked-color, #FFF);

  /* Misc API */
  --selectBorderRadius: var(--ne-select-radius, 5px);
  --selectWidth: var(--ne-select-width, 100%);
  --selectHeight: var(--ne-select-height, 2.5rem);
  --selectPadding: var(--ne-select-padding, 0.75rem);
  --selectOutlineColor: var(--ne-select-outline-color, hsl(233, 64%, 85%));
  --selectOutlineWidth: var(--ne-select-outline-width, 0.2rem);
  --selectSelectionBackground: var(--ne-select-selection-background, hsl(233, 64%, 90%));
  --selectSelectionForeground: var(--ne-select-selection-foreground, hsl(0, 0%, 13%));
  --selectArrowIcon: var(--ne-arrow-icon, url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGNsYXNzPSJuYy1pY29uLXdyYXBwZXIiIGZpbGw9IiMxMTExMTEiPjxwb2x5bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiMxMTExMTEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHBvaW50cz0iNyw5IDEyLDQgMTcsOSAiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcG9seWxpbmU+IDxwb2x5bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiMxMTExMTEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHBvaW50cz0iMTcsMTUgMTIsMjAgNywxNSAiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcG9seWxpbmU+PC9nPjwvc3ZnPg=='));
  --selectArrowSize: var(--ne-arrow-size, 0.9rem);
}
