@define-mixin progress {
  background: var(--meterBackground);
  box-shadow: inset 0 0 0 1px var(--meterBorderColor);
  border-radius: var(--meterBorderRadius);
  overflow: hidden;
}

@define-mixin meter-strong {
  background: var(--meterFilledColorStrong);
}

@define-mixin meter-good {
  background: var(--meterFilledColorGood);
}

@define-mixin meter-weak {
  background: var(--meterFilledColorWeak);
}
