fieldset {
  min-width: 0;
  margin: 0 0 var(--hiq-block-element-margin-bottom, 1rem);
  padding: var(--hiq-fieldset-padding-vertical, 0) var(--hiq-fieldset-padding-horizontal, 0);
  border: var(--hiq-fieldset-border-width, 0) solid var(--hiq-fieldset-border-color, transparent);
}
